* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 11px;
  text-decoration: none;
  color: #fff;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header-top {
  background: #000;
  text-transform: uppercase;
  line-height: 8px;
}

.header-top-content {
  display: flex;
  justify-content: space-between;
}

.header-top-right ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-top-right ul a {
  display: block;
  padding: 11px 20px;
}

.header-top-right ul li a:hover {
  color: #fd926d;
}

.header-top-right ul li {
  position: relative;
}

.header-top-right ul li:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  background: #444444;
  top: 0;
  left: 0;
}

.header-top-right ul li:last-child:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  background: #444444;
  right: 0;
  top: 0;
}

.money a {
  margin-right: 5px;
}

.money a:after {
  content: '';
  width: 5px;
  height: 8px;
  position: absolute;
  right: 10px;
  top: 10px;
  transform: rotate(90deg);
  background: url(../img/icons.png) -50px -5px;
}

.user a {
  margin-left: 15px;
}

.user a:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 8px;
  left: 13px;
  background: url(../img/icons.png) -5px -5px;
}

.search a:before {
  content: '';
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 5px;
  background: url(../img/icons.png) -183px -5px;
}

.header-bottom-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}

.nav-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  margin-right: 40px;
}

.navigation ul li a {
  color: #000000;
  font-size: 16px;
  position: relative;
}

.navigation ul li a:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  top: 8px;
  right: -14px;
  background: url(../img/icons.png) -290px -5px;
}

.navigation ul li a:hover {
  color: #fd926d;
}

.cart {
  width: 216px;
  border: 1px solid #d6d6d6;
}

.cart ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.cart ul li {
  color: #949393;
  border-bottom: 1px solid #d6d6d6;
}

.cart ul li:last-child {
  border-bottom: 0;
}

.cart ul a {
  position: relative;
  display: block;
  color: #949393;
  font-size: 12px;
  text-align: left;
  padding: 10px 10px;
}

.cart ul a:hover {
  color: #fd926d;
}

.cart ul a:after {
  content: '';
  position: absolute;
  background: url(../img/icons.png) -290px -5px;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 15px;
  opacity: 0.4;
}

.cart ul .cart-items {
  padding: 10px 10px;
  text-align: right;
  position: relative;
}

.cart ul .cart-items:before {
  position: absolute;
  content: '';
  width: 20px;
  height: 19px;
  left: 10px;
  top: 5px;
  background: url(../img/icons.png) -105px -5px;
}

.cart ul .cart-items span {
  color: #949393;
}

.slider {
  margin-top: 20px;
  width: 100%;
}

.slider-content {
  overflow: hidden;
  position: relative;
}

.slider-content ul {
  padding: 0;
  margin: 0;
}

.slider-content .slide {
  height: 100%;
  width: 100%;
}

.slider-content .slide img {
  max-width: 100%;
  width: 100%;
  display: block;
}

.prev {
  height: 117px;
  position: absolute;
  width: 30px;
  top: 45%;
  margin-top: -30px;
  opacity: 0.7;
  text-indent: -99999px;
  cursor: pointer;
  left: 0;
  background: #fff;
}

.prev:hover {
  background: #fd926d;
}

.prev:after {
  position: absolute;
  content: '';
  top: 48px;
  left: 10px;
  width: 12px;
  height: 18px;
  background-image: url(../img/icons.png);
  background-position: -29px -5px;
  transform: scaleX(-1);
}

.next {
  height: 117px;
  position: absolute;
  width: 30px;
  top: 45%;
  margin-top: -30px;
  opacity: 0.7;
  text-indent: -99999px;
  cursor: pointer;
  right: 0;
  background: #fff;
}

.next:hover {
  background: #fd926d;
}

.next:after {
  position: absolute;
  content: '';
  top: 48px;
  left: 10px;
  width: 12px;
  height: 18px;
  background-image: url(../img/icons.png);
  background-position: -29px -5px;
}

.slider-btn {
  cursor: pointer;
  position: absolute;
  top: 70%;
  left: 23%;
  font-family: "Arial", sans-serif;
  font-weight: 100;
  font-size: 16px;
  background-color: #fd926d;
  border: none;
  padding: 19px 49px 16px 23px;
  border-bottom: 3px solid #dd6b44;
  text-transform: uppercase;
  color: #fff;
}

.slider-btn:hover {
  background-color: #949393;
  border-bottom: 3px solid grey;
}

.slider-btn:after {
  content: '';
  width: 5px;
  height: 8px;
  position: absolute;
  right: 25px;
  top: 24px;
  background: url(../img/icons.png) -50px -5px;
}

.slider-dots {
  background-color: #fff;
}

.slider-dots form {
  text-align: center;
}

.slider-dots input[type="radio"] {
  visibility: hidden;
  border: 0;
  margin: 32px 8px;
}

.slider-dots label + input[type="radio"]:after {
  content: '';
  visibility: visible;
  display: inline-block;
  width: 10px;
  height: 10px;
  font-size: 50px;
  border-radius: 50%;
  background-color: #867a76;
  cursor: pointer;
}

.slider-dots label + input[type="radio"]:hover:after,
.slider-dots label + input[type="radio"]:checked:after {
  background-color: #fd926d;
}

.main-contacts {
  background-color: #ededed;
}

.contacts-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.subscribe {
  line-height: 0;
  padding-top: 13px;
  display: flex;
}

.subscribe h3 {
  font-size: 12px;
  font-weight: 500;
  color: #6b6b6b;
  margin-right: 5px;
  padding: 1px;
}

.subscribe form {
  vertical-align: top;
  font-size: 0;
  height: 28px;
  margin: 0;
}

.subscribe form input {
  border: none;
  padding: 7px 8px;
  vertical-align: top;
}

.subscribe form input[type="email"] {
  font-size: 12px;
  width: 131px;
  font-style: italic;
  color: #9f9f9f;
}

.subscribe form input[type="submit"] {
  height: 28px;
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
  line-height: 8px;
  border-bottom: 3px solid #dd6b44;
  background: #fd926d;
}

.find-us {
  display: flex;
  align-items: center;
}

.find-us h3 {
  font-size: 12px;
  font-weight: 500;
  color: #6b6b6b;
  margin-right: 10px;
}

.find-us ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.find-us ul li {
  position: relative;
  width: 55px;
  height: 55px;
}

.find-us ul li a {
  display: block;
  height: 100%;
  width: 100%;
}

.find-us ul li a:hover {
  opacity: 0.7;
}

.fb {
  background: #f7f7f7;
}

.fb a {
  width: 1px;
}

.fb a:after {
  content: '';
  position: absolute;
  top: 30%;
  left: 16px;
  width: 23px;
  height: 23px;
  background: url(../img/social_find_us.png) 0 -3px;
}

.tw a:after {
  content: '';
  position: absolute;
  top: 30%;
  left: 16px;
  width: 23px;
  height: 23px;
  background: url(../img/social_find_us.png) -25px -2px;
}

.pi {
  background: #f7f7f7;
}

.pi a:after {
  content: '';
  position: absolute;
  top: 30%;
  left: 16px;
  width: 23px;
  height: 23px;
  background: url(../img/social_find_us.png) -219px -5px;
}

.banners {
  margin-top: 40px;
}

.banner-img {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-img img {
  width: 100%;
  display: block;
}

.banner-btn {
  cursor: pointer;
  right: 13%;
  bottom: 8%;
  width: 98px;
  height: 30px;
  position: absolute;
  border: none;
  background-color: #4fafa0;
  font-size: 12px;
  text-align: left;
  padding: 9px 7px;
  text-transform: uppercase;
}

.banner-btn:after {
  content: '';
  width: 5px;
  height: 8px;
  position: absolute;
  right: 9px;
  top: 11px;
  background: url(../img/icons.png) -50px -5px;
}

.shop {
  margin-top: 50px;
}

.shop-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left-nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.left-nav ul li {
  background: #fff;
}

.left-nav ul li:first-child {
  background: #fd926d;
}

.left-nav ul li:first-child a {
  color: #fff;
}

.left-nav ul li:hover {
  background: #fd926d;
}

.left-nav ul li a {
  font-size: 15px;
  font-weight: 400;
  color: #555555;
  line-height: 47px;
  padding: 15px 24px;
  width: 100%;
  text-transform: uppercase;
}

.left-nav ul li a:focus {
  background: #fd926d;
  color: #fff;
}

.left-nav ul li a:hover {
  color: #fff;
}

.right-nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.right-nav ul li {
  position: relative;
  width: 47px;
  height: 47px;
}

.right-nav ul li:first-child a:hover {
  background: #fd926d;
}

.right-nav ul li:first-child a:hover:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 18px;
  width: 14px;
  height: 27px;
  background: url(../img/icons.png) -135px -5px;
}

.right-nav ul li:first-child a:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 18px;
  width: 14px;
  height: 27px;
  background: url(../img/icons.png) -160px -5px;
  transform: rotate(180deg);
}

.right-nav ul li:last-child a {
  background: #fd926d;
}

.right-nav ul li:last-child a:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 18px;
  width: 14px;
  height: 27px;
  background: url(../img/icons.png) -135px -5px;
}

.right-nav ul li a {
  display: block;
  height: 100%;
  width: 100%;
}

.shop-content {
  background: #fd926d;
}

.shop-content ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 30px 0;
}

.shop-content ul li {
  width: 15%;
  margin: 0 15px;
}

.shop-item {
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.shop-item:hover {
  transform: scale(1.04);
  -webkit-transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shop-item:hover:after {
  position: absolute;
  content: '';
  top: 35%;
  left: 50%;
  margin-left: -16px;
  margin-top: -15px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: -65px -5px;
  width: 30px;
  height: 30px;
}

.shop-item:hover:before {
  position: absolute;
  content: 'SHOP IT';
  color: #fff;
  top: 35%;
  left: 50%;
  margin-left: -67px;
  margin-top: -58px;
  width: 134px;
  height: 134px;
  background-color: #3d3d3d;
  border-radius: 50%;
  font-size: 12px;
  line-height: 175px;
}

.nohover {
  transform: scale(1.04);
  -moz-transform: scale(1.04);
  -ms-transform: scale(1.04);
  -webkit-transform: scale(1.04);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.shop-item-nohover:after {
  position: absolute;
  content: '';
  top: 35%;
  left: 50%;
  margin-left: -16px;
  margin-top: -15px;
  background-image: url(../img/icons.png);
  background-repeat: no-repeat;
  background-position: -65px -5px;
  width: 30px;
  height: 30px;
}

.shop-item-nohover:before {
  position: absolute;
  content: 'SHOP IT';
  color: #fff;
  top: 35%;
  left: 50%;
  margin-left: -67px;
  margin-top: -58px;
  width: 134px;
  height: 134px;
  background-color: #3d3d3d;
  border-radius: 50%;
  font-size: 12px;
  line-height: 175px;
}

.shop-image img {
  width: 100%;
  height: auto;
  display: block;
}

.shop-item-info {
  background: #f7f7f7;
  padding: 10px 0;
}

.shop-item-info .shop-btn {
  color: #fff;
  background-color: #fd926d;
  border: none;
  border-bottom: 3px solid #dd6b44;
  text-transform: uppercase;
  position: relative;
  font-size: 12px;
  padding: 10px 30px 8px 10px;
  cursor: pointer;
}

.shop-item-info .shop-btn:after {
  content: '+';
  position: absolute;
  font-size: 20px;
  font-weight: bold;
  right: 12px;
  top: 5px;
}

.shop-item-info p {
  font-size: 22px;
  font-weight: normal;
  color: black;
  line-height: 5px;
}

.shop-item-info h3 {
  color: black;
  font-size: 12px;
  line-height: 0;
  font-weight: normal;
  text-transform: uppercase;
}

.shop-item-sale:before {
  left: 0;
  position: absolute;
  content: '';
  height: 50px;
  width: 50px;
  background: url(../img/sale.jpg) no-repeat;
}

.clearance {
  margin-top: 30px;
}

.clearance-content {
  text-align: center;
  position: relative;
}

.clearance-content img {
  position: relative;
  z-index: 2;
  padding: 0 20px;
  background: #fff;
}

.clearance-content:before {
  content: '';
  z-index: 1;
  position: absolute;
  height: 0;
  width: 100%;
  display: block;
  bottom: 50%;
  border-bottom: 1px solid #d8d8d8;
}

.shop-clearance {
  background: #fff;
  text-align: center;
}

.shop-clearance ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 30px 0;
  justify-content: space-between;
}

.shop-clearance ul li {
  width: 30%;
  margin: 0 15px;
}

.shop-clearance ul li:last-child {
  margin-right: 0px;
}

.shop-clearance ul li:first-child {
  margin-left: 0px;
}
